[Unit]
Description=docker boot
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
TimeoutStopSec=60
WorkingDirectory=/root
ExecStart=/root/start_rstudio_in_container.sh

[Install]
WantedBy=default.target
